.MainPageBanner {
    background-image: url(../../assets/mainpage_banner.jpg);
    height: 630px;
    width: 100vw;
    background-size: cover;
    background-position: center;
    margin-top: 84px;
}

@media only screen and (max-width: 900px) {
    .MainPageBanner {
        height: 390px;
        width: 100%;
        
    }
}

@media only screen and (max-width: 600px) {
    .MainPageBanner {
        height: 260px;
        width: 100%;
        margin-top: 54px;
    }
}