.MainPageBanner {
    background-image: url(../../assets/mainpage_banner.jpg);
    height: 630px;
    width: 100%;
    margin-top: 80px;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1280px) {
    .MainPageBanner {
        height: 490px;
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    .MainPageBanner {
        height: 390px;
        width: 100%;
        margin-top: 64px;
    }
}

@media only screen and (max-width: 600px) {
    .MainPageBanner {
        height: 260px;
        width: 100%;
        margin-top: 56px;
    }
}